.splash {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10% 0 0 0;
    text-align: center;
}

.splash .message {
    -ms-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
}

.splash .fa-spinner {
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
    text-align: center;
}

div.page-host { padding-top: 7em; }

.navbar-nav > li > a {
    margin-bottom: 1px !important;
}


/* animate page transitions */

section.au-enter-active {
    -webkit-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
}

div.au-stagger {
    /* 50ms will be applied between each successive enter operation */
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms;
}

/* animation definitions */

@-webkit-keyframes fadeInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    100% {
        -webkit-transform: none;
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        -ms-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    100% {
        -ms-transform: none;
        -webkit-transform: none;
        opacity: 1;
        transform: none
    }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }

    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }

    100% { opacity: 1; }
}